<!-- TODO -->
<!-- Needs form validation, both inputs must be required -->

<div class='menu-page' style="height:91vh; background-color:rgba(0,0,0,0.85);">
  <div class="menu-container">

    <div class="menu-form card-panel" style="height:80vh">
      <h3>Add New Item</h3>
      <form id="add-menu-item-form" action="" method="post">
        <div>
          <label for="">Item Name</label>
          <input id="item-name" type="text" name="name" value="">
        </div>
        <div class="">
          <p>Unit of Measurement</p>
          <div>
            <input type="radio" id="unitChoice1" name="unit" value="lbs">
            <label for="unitChoice1">Pounds</label>

            <input type="radio" id="unitChoice2" name="unit" value="oz">
            <label for="unitChoice2">Ounces</label>
          </div>
        </div>
        <div class="">
          <label for="">Cost</label>
          <input id="item-cost" type="number" name="" value="">
        </div>
        <input class="btn btn-large" style="width:100%;" type="submit" name="" value="Submit">
      </form>
    </div>

    <div class="menu-list card-panel" style="padding:0;height:80vh">
      <h3>Current Menu</h3>
      <div style="height:60vh;overflow:scroll">
        <ul id="item-list">
          {{#each menuItems}}
          <li><a href="" class="btn btn-large" style="width:100%; margin-bottom:5px;">{{name}} ${{cost}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript">
  var servername = 'http://localhost:3000';
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('add-menu-item-form').addEventListener('submit', handleMenuItemForm);
  });

  function handleMenuItemForm(evt) {
    evt.preventDefault();

    var name = document.getElementById('item-name').value;
    var cost = document.getElementById('item-cost').value;
    console.log(name + cost);

    $('#item-list').prepend(`<li><a href="" class="btn btn-large" style="width:100%; margin-bottom:5px;">${name} $${cost}</a></li>`)
    var req = new XMLHttpRequest();
    req.open('POST', servername+'/api/create-menu-item', true);
    req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    req.send('name='+name+'&cost='+cost);

    document.getElementById('item-name').value = '';
    document.getElementById('item-cost').value = '';

    $('#unitChoice1').prop('checked', false);
    $('#unitChoice2').prop('checked', false);


  }
</script>
