<div class='menu-page'>
  <h1>Create Menu</h1>
  <div class="menu-container">
    <div class="new-menu-item">
      Add Item to Menu
      <form class="" action="index.html" method="post">
        <input type="text" name="item-name" value="">
        <input type="text" name="item-cost" value="" placeholder="cost per pound/gram">
      </form>
    </div>
    <div class="menu-box">
      <ul class="menu-list">

      </ul>
    </div>
  </div>
</div>
