<div class="row" style="background-color:rgba(0,0,0,0.85);">
  <div class="col l8">
    <div class="card-panel" style="height:88vh; padding:0;">
      <nav class="white black-text">
        <div class="nav-wrapper">
          
          <div class="input-field col s12">
            <i class="material-icons prefix">chrome_reader_mode</i>
            <input id="weight" type="text" class="validate">
            <label for="weight">Weight</label>
          </div>

          <div id="menu-items">
            {{#each menuItems}}
            <a href="" class="btn btn-large waves-effect waves-light menu-item-btn" id="{{_id}}">{{name}}</a>
            {{/each}}
          </div>
                
        </div>
      </nav>
    </div>
  </div>
  <div class="col l4">
    <div class="card-panel" style="height:88vh; padding:0;">
      <nav class="white">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Logo</a>
        </div>
      </nav>
    </div>
  </div>
</div>

<input type="hidden" value="{{id}}" id="session-id">

<script type="text/javascript">
  var servername = 'http://localhost:3000';
  document.addEventListener('DOMContentLoaded', function() {
    var menuItemBtns = document.getElementsByClassName('menu-item-btn');
    Array.prototype.forEach.call(menuItemBtns, function(btn) {
      btn.addEventListener('click', handleAddItem);
    });
  });

  function handleAddItem(evt) {
    evt.preventDefault();
    var tid = this.id;
    var sid = document.getElementById('session-id').value;
    var weight = document.getElementById('weight').value;

    var req = new XMLHttpRequest();
    req.open('POST', servername+'/api/add-item/s='+sid+'&t='+tid, true);
    req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    req.send('weight='+weight);

  }
</script>