<div class="row" style="background-color:rgba(0,0,0,0.85);">
  <div class="col l8">
    <div class="card-panel" style="height:88vh; padding:0;">
      <nav class="white black-text">
        <div class="nav-wrapper">
          
          <div class="input-field col s12">
            <i class="material-icons prefix">chrome_reader_mode</i>
            <input id="weight" type="text" class="validate">
            <label for="weight">Weight</label>
          </div>
                
        </div>
      </nav>
    </div>
  </div>
  <div class="col l4">
    <div class="card-panel" style="height:88vh; padding:0;">
      <nav class="white">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Logo</a>
        </div>
      </nav>
    </div>
  </div>
</div>

<input type="hidden" value="{{id}}" id="session-id">