body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  padding-left:5vw;
  padding-right:5vw;
}

.menu-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-container {
  display: flex;
  justify-content: space-around;
}
