body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

nav {
  padding-left: 5vw;
  padding-right: 5vw;
}

.menu-item-btn {
  width: 25%;
}

.menu-page {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.menu-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#add-menu-item-form {
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
}

.menu-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 45%;
  height: 90%;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 45%;
  height: 90%;
}

.menu-card {
  background-color: #26a69a;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  width: 290px;
}

.delete-icon:hover {
  color: red;
  transition: color 0.15s;
  cursor: pointer;
}

#item-container {
  width: 100%;
}

#item-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

#list-item-name:focus,
#list-item-cost:focus {
  border-color: white;
}
